.agregarCarrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem;

}
.pContador{
    margin-left: 1rem;
    margin-right: 1rem;
}
.sumarRestar{
    cursor: pointer;
}
.divContador{
    display: flex;
    align-items: center;

}
