.agregarCarrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem;

}
.pContador{
    margin-left: 1rem;
    margin-right: 1rem;
}
.sumarRestar{
    cursor: pointer;
}
.divContador{
    display: flex;
    align-items: center;
    justify-content: center;

}
/*estilos para desktop*/
@media screen and (min-width: 1024px){
    .agregarCarrito{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .divContador{
        justify-content: start;
    }
    
}
