.divDetalles{
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
}


.imgDetalle{
    width: 60%;
    
    
}
.contenedorImg{
    display: flex;
    justify-content: center;
}
.ContenedorDetalles{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    margin: 1rem;
}
.terminarCompra{
    display: flex;
    justify-content: center;
}
/* estilos para desktop*/
@media screen and (min-width: 900px){
    .divDetalles{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ContenedorDetalles{
    margin-right: 1rem;
    text-align: start;

    
}
.terminarCompra{
    justify-content: start;
}
    
}


